/* General */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

/* Estilo de texto */
h1, h2, li{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

h3, h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.white{
    color: #FFF;
}

/* Clases */
/* Home - About */
.cardLeft, .cardRight{
    width: 60%;
    border: 1px solid black;
    padding: 2rem;
    margin-top: 2rem;
}

.cardLeft div, .cardRight div{
    text-align: justify;
    padding-right: 20px;
}

.cardLeft img, .cardRight img{
    width: 25rem;
}

.cardRight div{
    text-align: justify;
    padding-left: 20px;
}

/* Home - Portfolio */
.projects{
    background-color: #1C1C1E;
    color: white;
    padding-top: 2rem;
    padding-left: 2rem;
}

.projects img{
    border: 1px solid #000;
}

/* Contacto */
.contact{
    padding: 2rem 8rem;
}

/* Contacto - About */
.headerDark{
    display: flex;
    justify-content: space-between;
    background-color: #1C1C1E;
    color: #FFF;
}
.headerDark a{
    color: #FFF
}

/* Estilos básicos para todos los HTML */
header{
    padding: 3.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    color: #000;
}

/* a:hover{
    text-decoration: underline;
} */

footer{
    background-color: #1C1C1E;
    color: white;
    padding: 2rem;
}

footer div a{
    color: #FFF;
}

/* Flex y grids */
/* about, index */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLeft{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 8rem;
}
.cardRight{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    align-items: flex-start;
    margin-right: 8rem;
}
#aboutButton{
    margin: 2rem auto;
    text-align: center;
}
#wideImg{
    width: 98.5vw;
    height: 40rem;
}

#wideImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 8rem;
    padding: 2rem;
    text-align: justify;
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    line-height: 1.5;
}

/* Portfolio Grid */
/* Usé las mismas clases y los mismos grid-areas para el index.html y el work.html */
#projectsIndexGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr 4rem;
    grid-template-areas: 
    "h2 . ."
    "project1 project1img project1img"
    "project2 project2img project2img"
    ". allProjects .";
    align-items: stretch;
    row-gap: 2rem;
}

#projectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr 1fr 8rem;
    grid-template-areas: 
    "h2 . ."
    "project1 project1img project1img"
    "project2 project2img project2img"
    "project3 project3img project3img"
    ". info .";
    align-items: stretch;
    row-gap: 2rem;
}

.projects h2{
    grid-area: h2;
    align-self: center;
}

.project1{
    grid-area: project1;
}

.project1img{
    grid-area: project1img;
}

.project2{
    grid-area: project2;
}

.project2img{
    grid-area: project2img;
}

.project3{
    grid-area: project3;
}

.project3img{
    grid-area: project3img;
}

.allProjects{
    grid-area: allProjects;
    align-self: flex-start;
    justify-self: center;
    color: #FFF;
}

.info{
    grid-area: info;
    justify-self: center;
    align-self: flex-start;
}

.project1, .project2, .project3{
    width: 80%;
    justify-self: center;
    border: 1px solid black;
    padding: 2rem;
    text-align: justify;
}

.project1img, .project2img, .project3img{
    width: 99.8%;
}

/* Footer con Grid (para todos los HTML) */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gonzalo . contactame"
    "copyright scrollUp footerIcons";
    align-items: center;
    border-top: 1px solid #000;
}

.gonzalo{
    grid-area: gonzalo;
}
.copyright{
    grid-area: copyright;
}
.contactame{
    grid-area: contactame;
    justify-self: flex-end;
}
.footerIcons{
    grid-area: footerIcons;
    width: 8.5rem;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
}
.scrollUp{
    grid-area: scrollUp;
    justify-self: center;
}

/* Contacto Grid */
.contact{
    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-areas:
    "h2 ."
    "contactImage contactForm"
    "contactIcons contactButton";
}

.contact h2{
    grid-area: h2;
    align-self: center;
}
.contact img{
    grid-area: contactImage;
    object-fit: cover;
    width: 100%;
}
.contactForm{
    grid-area: contactForm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactIcons{
    grid-area: contactIcons;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0 .4rem;
}
.contactButton{
    grid-area: contactButton;
    align-self: center;
    justify-self: center;
}


/* Responsive design / Media queries */

/* mobile */
@media screen and (max-width: 480px) {

    /* Header (todos los HTML) */

    header{
        max-width: 100vw;
    }

    .header, .headerDark{
        padding: 1rem;
        flex-direction: column;
    }

    .header nav ul, .headerDark nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header h1, .headerDark h1{
        align-self: center;
        padding: 1rem 0;
    }

    /* index */
    #wideImg{
        width: 100vw;
        height: 90vh;
    } 
    
    #projectsIndexGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 14rem 1fr 18rem 1fr 4rem;
        grid-template-areas: 
        "h2"
        "project1"
        "project1img"
        "project2"
        "project2img"
        "allProjects";
        padding: 0;
        row-gap: 0;
        width: 100vw;
    }

    .allProjects{
        align-self: center;
    }

    /* about */
    .aboutMe{
        margin: 2.5rem;
        padding: 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid #000;
    }

    .cardLeft, .cardRight{
        width: 98vw;
        margin: 0;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-bottom: 1px solid #000;
    }

    .cardLeft img, .cardRight img{
        width: 85%;
        margin: 1rem 0;
    }

    /* work */
    #projectsContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 14rem 1fr 20rem 1fr 1fr 1fr 8rem;
        grid-template-areas: 
        "h2"
        "project1"
        "project1img"
        "project2"
        "project2img"
        "project3"
        "project3img"
        "info";
        row-gap: 0;
        padding: 0;
        width: 100vw;
    }

    #projectsContainer h2, #projectsIndexGrid h2{
        margin-left: 1rem;
        align-self: flex-end;
        justify-self: center;
    }

    .project1, .project2, .project3{
        border: none;
        padding: 1rem;
        width: fit-content;
    }

    .project1img, .project2img, .project3img{
        object-fit: cover;
    }

    .info{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* contact */
    .contact{
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 1fr 8rem 1fr 6rem;
        grid-template-areas: 
        "h2"
        "contactImage"
        "contactIcons"
        "contactForm"
        "contactButton";
        height: auto;
        width: 100vw;
        padding: 0;
    }

    .contact h2{
        justify-self: center;
    }

    .contact img{
        width: 100vw;
        border-top: 1px solid #000;
    }

    .contactIcons{
        justify-content: space-around;
        height: 8rem;
        align-items: center;
        border-bottom: 1px solid #000;
    }

    .contactForm{
        justify-content: space-evenly;
        align-items: flex-start;
        justify-self: center;
    }

    .contactButton{
        border-top: 1px solid #000;
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Footer (todos los HTML) */
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5 1fr);
        grid-template-areas: 
        "gonzalo"
        "contactame"
        "footerIcons"
        "copyright"
        "scrollUp";
        justify-items: center;
        align-items: center;
    }
    .contactame, .footerIcons{
        justify-self: center;
        margin-bottom: 1rem;
    }
}

/* tablet */
@media screen and (max-width: 1024px) and (min-width: 768px){

    #wideImg{
        width: 100vw;
        object-fit: cover;
    }

    .cardLeft, .cardRight{
        margin-left: 0;
        margin-right: 0;
        width: 85%;
        padding: 1rem;
    }

    #projectsIndexGrid, #projectsContainer{
        row-gap: 1rem;
        padding: 0;
    }

    #projectsIndexGrid h2, #projectsContainer h2{
        padding-left: 1rem;
    }

    .project1, .project2, .project3{
        padding: 1rem;
        justify-self: flex-start;
        width: 94%;
        border: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    #projectsIndexGrid img, #projectsContainer img{
        border: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        object-fit: cover;
    }

    .info{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact{
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

/* Animaciones, transformaciones, gradientes */

/* Animación para los anchor */

.underlineAnimation, .underlineAnimationWhite{
    display: inline-block;
    position: relative;
}

.underlineAnimation::after, .underlineAnimationWhite::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underlineAnimation::after{
    background-color: #000;
}

.underlineAnimationWhite::after{
    background-color: #FFF;
}

.underlineAnimationWhite{
    color: #FFF;
}

.underlineAnimation:hover::after, .underlineAnimationWhite:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Iconos de redes sociales */
/* footer */
.scaleIcons:hover{
    transform: scale(1.2);
    transition: transform .25s;
}

/* contact.html */
.contactIcons a{
    transform: scale(1.4);
}

.contactIcons a:hover{
    transform: scale(1.7);
}

/* animación about */
@keyframes aparecer{
    0% {
        position: relative;
        left: -120%;
    }

    100% {
        position: relative;
        left: 0;
    }
}

@keyframes aparecer2{
    0% {
        position: relative;
        left: -1000px;
    }

    100% {
        position: relative;
        left: 0;
    }
}

.animation{
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation2{
    position: relative;
    left: -120%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation3{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: .75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation4{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation5{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation6{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation7{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 2.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation8{
    position: relative;
    left: -1000px;
    animation-name: aparecer2;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation9{
    position: relative;
    left: -1000px;
    animation-name: aparecer2;
    animation-duration: 1s;
    animation-delay: 2.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}