.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 8rem;
    text-align: justify;
    @media screen and (max-width: 480px) {
        padding: 2.5rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: $borde;
    }
}

.cardLeft{
    @include cards (row, flex-start, 8rem);
    width: map-get($cards, width);
    border: $borde;
    padding: map-get($cards, 2rem);
    margin-top: map-get($cards, 2rem);
    background-color: map-get($cards, bgcolor);
    div{
        text-align: justify;
        padding-right: 2rem;
    }
    img{
        width: 25rem;
    }
    @media screen and (max-width: 480px){
        width: 98vw;
        background-color: $color-light;
        margin: 0;
        padding: 1rem;
        flex-direction: column;
        justify-content: map-get($cards, centro);
        align-items: map-get($cards, centro);
        align-self: map-get($cards, centro);
        border: none;
        border-bottom: $borde;
        img{
            width: 85%;
            margin: 1rem 0;
        }
        div{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    @media screen and (max-width: 1024px) and (min-width: 768px){
        margin-left: 0;
        margin-right: 0;
        width: 85%;
        padding: 1rem;
    }
}

.cardRight{
    @extend .cardLeft;
    @include cards (row-reverse, flex-end, 8rem);
    div{
        padding-left: 20px;
    }
}

.cv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    line-height: 1.5;
}

.allProjects{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btnMod{
    font-size: inherit;
    &:hover{
        background-color: #FFF;
        color: $color-black;
    }
}