// Animación para el título en el index

.verticalLine{
    position: relative;
    top: 20rem;
    left: 8rem;
    border-left: 1px solid #FFF;
    overflow: hidden;
    transform: translateY(-16rem);
    opacity: 0;
    animation-name: verticalLine;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    z-index: 1;
    padding-left: .5rem;
    height: 5.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleAnimation{
    font-family: 'Lato', sans-serif;
    font-size: 2.8rem;
    font-weight: 200;
    color: #FFF;
    transform: translateX(-18rem);
    animation-name: title;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    line-height: 1;
}

.titleAnimation2{
    @extend .titleAnimation;
    animation-delay: 1.5s;
}

@keyframes title{
    25%{
        transform: translateX(-18rem);
    }

    50%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes verticalLine{
    0%{
        transform: translateY(-16rem);
        opacity: 0;
    }

    20%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

// Animación para los anchor

.underlineAnimation{
    display: inline-block;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        background-color: $color-black;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.underlineAnimationWhite{
    @extend.underlineAnimation;
    color: $color-light;
    &:hover{
        color: $color-light;
    }
    &::after{
        background-color: $color-light;
    }
}

/* Iconos de redes sociales */
/* footer */
.scaleIcons:hover{
    transform: scale(1.2);
    transition: transform .25s;
}

/* animación about */
@keyframes aparecer{
    0% {
        position: relative;
        left: -120%;
    }

    100% {
        position: relative;
        left: 0;
    }
}

@keyframes aparecer2{
    0% {
        position: relative;
        left: -1000px;
    }

    100% {
        position: relative;
        left: 0;
    }
}

.animation{
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation1{
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: -.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation2{
    position: relative;
    left: -120%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation3{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: .75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation4{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation5{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation6{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation7{
    position: relative;
    left: -100%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 2.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation8{
    position: relative;
    left: -1000px;
    animation-name: aparecer2;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation9{
    position: relative;
    left: -1000px;
    animation-name: aparecer2;
    animation-duration: 1s;
    animation-delay: 2.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}