*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Estilo de texto */
h1, h2, li{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

h3, h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: justify;
}

.gonzaloCoradello{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    text-decoration: overline;
    transition: .3s;    
    &:hover{
        opacity: .5;
    }
    @media screen and (max-width: 768px){
        font-size: 2rem;
    }
}

// Estilos básicos

.navbarMobile{
    display: none;
    @media screen and (max-width: 768px){
        display: flex;
        margin: 0;
        align-items: center;
        height: max-content;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 3.5rem;
    background-color: $color-light;
    @media screen and (max-width: 768px){
        max-width: 100vw;
        height: max-content;
        padding: .5rem 1rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        h1{
            display: none;
        }
    }
}

.headerDark{
    background-color: $color-black;
    color: $color-light;
    a{
        color: $color-light;
        &:hover{
            color: $color-light;
        }
    }
}

ul{
    list-style-type: none;
    li{
        display: inline-block;
        padding-right: 1.5rem;
    }
}

a{
    text-decoration: none;
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}

.active{
    opacity: .5;
    text-decoration: line-through;
}

.main{
    background-color: $color-light;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gonzalo . contactame"
    "copyright scrollUp footerIcons";
    background-color: $color-black;
    color: $color-light;
    align-items: center;
    border-top: 1px solid #090909;
    padding: 2rem;
    a{
        color: $color-light;
        &:hover{
            color: $color-light;
        }
    }
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5 1fr);
        grid-template-areas: 
        "gonzalo"
        "contactame"
        "footerIcons"
        "copyright"
        "scrollUp";
        justify-items: center;
        align-items: center;
    }
}

.gonzalo{
    grid-area: gonzalo;
}

.copyright{
    grid-area: copyright;
}

.contactame{
    grid-area: contactame;
    justify-self: flex-end;
    @media screen and (max-width: 768px){
        justify-self: center;
        margin-bottom: 1rem;
    }
}

.footerIcons{
    grid-area: footerIcons;
    width: 8.5rem;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
        justify-self: center;
        margin-bottom: 1rem;
    }
}

.scrollUp{
    grid-area: scrollUp;
    justify-self: center;
}

// Navbar mobile, modificaciones al elemento de Bootstrap
.navbarFlex{
    flex-direction: row-reverse;
    align-items: space-between;
}

.navButton{
    background-color: $color-dark;
    padding: .5rem 1rem;
}

.navButtonDark{
    background-color: $color-black;
}

.navbarMenuDark{
    background-color: $color-black;
}

.navbarMenu{
    margin-left: .8rem;
    ul{
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-areas: "about work contact";
        padding: 0;
        align-items: center;
        li{
            font-size: 1.8rem;
        }
    }
}

.navAbout{
    grid-area: about;
    justify-self: flex-start;
}

.navWork{
    grid-area: work;
    justify-self: center;
}

.navContact{
    grid-area: contact;
    justify-self: flex-end;
}

@media screen and (max-width: 768px){
    .navbarDesktop{
        display: none;
    }
}